<h2>Fish Camp Road Trip Submission</h2>

<p>A road trip has been submitted through the Fish Camp Online road trip information form. The form's ID number is <b><?=$this->id ?></b>.</p>

<p>Form submission details:</p>

<dl>
<? foreach($this->form as $field_name => $field_val): ?>
	<dt><?=$field_name ?>:</dt>
	<dd>
		<? if (is_array($field_val)): ?>
			<? foreach($field_val as $offset => $val): ?>
				<div><?=$offset ?>: <?=$val ?></div>
			<? endforeach; ?>
		<? elseif (!empty($field_val)): ?>
			<?=$field_val ?>
		<? endif; ?>
	</dd>
<? endforeach; ?>
</dl>