<?
$ndr_options = array(
	'ontime'		=> 'On Time',
	'late'			=> 'Late',
	'noshow'		=> 'No-Show',
);
?>

<table class="datatable zebra" width="100%">
	<colgroup>
    	<col width="25%" />
        <col width="75%" />
    </colgroup>
	<tbody>
    <? foreach((array)$this->members_to_show as $member): ?>
    	<? if ($this->mode == "takemynight" || $member['status'] != CP_SIGNUP_TAKEMYNIGHT): ?>
    	<tr>
        	<td align="center"><a href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'view', 'id' => $member['user_id'])) ?>" target="_blank" title="View Profile"><?=$member['avatar'] ?></a></td>
            <td align="left">
            <? if (!$this->show_ndr && DF_Acl::getInstance()->isAllowed('cp_director')): ?>
            	<a href="<?=$this->route(array('module' => 'events', 'controller' => 'event', 'action' => 'remove', 'num' => $member['num'], 'uin' => $member['uin'])) ?>" title="Remove Member" class="confirm-delete"><?=$this->icon('delete') ?></a>
			<? endif; ?>
            	<big><a href="<?=$this->route(array('module' => 'default', 'controller' => 'profile', 'action' => 'view', 'id' => $member['user_id'])) ?>" target="_blank" title="View Profile"><?=$member['firstname'] ?> <?=$member['lastname'] ?></a></big>
			<? if ($this->show_ndr): ?>
				<div style="padding: 5px;"><?=$this->formRadio('report[home][members]['.$member['uin'].']', $this->report['home']['members'][$member['uin']], array('class' => 'ndr-member-option'), $ndr_options) ?></div>
			<? endif; ?>
            </td>
        </tr>
        <? endif; ?>
    <? endforeach; ?>
    </tbody>
</table>