<?
$session_name = $this->session;

$fc = \Zend_Registry::get('fc');
$fc_settings = $fc->getSettings();

$sessions = $fc_settings['sessions'];

$session = NULL;
if ($session_name && $session_name != "WL")
    $session = $sessions[$session_name];
?>

<? if ($session): ?>
    <p>Howdy, you have been officially registered to attend Fish Camp 2012!</p>
    
    <p>You are registered for: <b>Session <?=$session['name'] ?> (<?=$session['date'] ?>)</b></p>

    <p>If you would like to change your session, please visit <?=$this->link('http://fishcamponline.tamu.edu') ?>, log in with your NetID and password, and submit a session change request. Please note that session changes depend on the availability of space in your desired session.</p>

    <p>Listed below, you will find additional information that you will need to know in order to attend camp. Please read the following information carefully. We look forward to your arrival in Aggieland. If you have any questions before then, please refer to our FAQ packet online at <?=$this->link('http://fishcamponline.tamu.edu') ?>. Alternatively, you may contact the Fish Camp office at <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> or 979-845-1627.</p>

    <h3>BEHAVIOR</h3>
    <p>Please note that all Texas A&M University rules and policies apply upon arrival at Fish Camp check-in. Fish Camp rules and policies also apply and are listed in the behavior agreement you signed during registration. If any of these rules and policies are violated, you may undergo disciplinary action from Fish Camp and/or Texas A&M University, which may include removal from Lakeview grounds, at your own expense.</p>

    <h3>ARRIVAL</h3>
    <p>Check-in will take place between 8:00 AM CDT and 9:30 AM CDT on Texas A&M's campus at the Reed Arena parking lot on the first day of your assigned session. Check-in will be followed by a welcome program in Reed Arena. Parents are welcomed to stay for the program, but they must park in paid Visitor Parking in West Campus Garage (WCG); hourly rates apply.</p>
    <p>If you miss the bus on the morning of your send off, there IS NOT another way to get to camp. Please email <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> if you miss the buses.</p>

    <h3>CARPOOLING TO COLLEGE STATION</h3>
    <p>Fish Camp is proud to partner with Zimride, a private ridesharing network within Texas A&M University. Zimride offers a safe way to connect with others in your area that are travelling to your session of Fish Camp. If you would like to utilize this service, please visit <?=$this->link('http://www.zimride.com/tamu/ep/Fish-Camp-2012/934') ?> and follow the outlined steps to post your ride within the Texas A&M Zimride network. Log in with your NetID and password to complete the process. If you have any questions or concerns, please contact the Fish Camp office or contact Zimride directly at 1-855-ZIMRIDE (946-7433)</p>

    <h3>PARKING</h3>
    <p>Parking permits are required to park on campus for Fish Camp <?=date('Y') ?>. Parking permits will not be sold in the parking lot on the first morning of your session. Students attending Fish Camp may obtain a parking permit through one of the following methods:</p>
    <ul>
        <li>Register online for a <? echo date('Y').'-'.(date('Y')+1); ?> parking permit. If the permit does not arrive via mail prior to the date you need to park on campus, go online to <?=$this->link('http://transport.tamu.edu') ?> and print your parking assignment. Display your parking assignment form in the dashboard of your vehicle while parking in the lot designated for the Fish Camp you are attending.</li>
        <li>If you do not wish to purchase a <? echo date('Y').'-'.(date('Y')+1); ?> parking permit, a $5.00 temporary Fish Camp parking permit may be purchased through the "My Account" portion online at <?=$this->link('http://transport.tamu.edu/') ?>. Print and then display the permit receipt in the dashboard of your vehicle while parking in the lot designated for the Fish Camp you are attending.</li>
        <li>Vehicles parked in tow-away or reserved areas are subject to ticketing and/or towing by University parking officials.</li>
    </ul>

    <p>Please remember to LOCK YOUR CAR and remove valuables. The parking lots will be patrolled by Campus security; however, Fish Camp will not be responsible for theft or loss.</p>

    <p>More information can be found at <?=$this->link('http://transport.tamu.edu/specialevents/fishTcamp.aspx') ?>.</p>

    <h3>LUGGAGE</h3>
    <p>Please remember your session is only 4 days and 3 nights. We ask that you limit your luggage to:</p>
    <ul>
        <li>Two (2) small or medium bags or </li>
        <li>One (1) large bag that is clearly marked with the proper contact information.</li>
    </ul>
    <p>Please include your name, contact phone number and email on your luggage. Someone with Fish Camp will be in the luggage loading and check-in areas to show you where to go and to assist you. If your luggage is misplaced at camp, please contact Headquarters (located at Fish Camp) for further instructions. If luggage is misplaced AFTER camp, please contact the Fish Camp office at <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> or 979-845-1627.</p>

    <h3>LUNCH</h3>
    <p>Lunch will be provided on the buses after departure from Reed Arena at 10:30 AM CDT. The cost of lunch has been included in your registration fee. If you have special dietary needs and have not already notified Fish Camp, please e-mail <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> by Friday, July 13, 2012 with your name, UIN, session, and detailed dietary needs.</p>

    <h3>SPECIAL ACCOMMODATIONS</h3>
    <p>If you have any special accommodations that you did not list at the time of registration (medical, dietary, etc.) that Fish Camp should know about in order to provide you with appropriate assistance at camp, please email <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> by Friday, July 13th, 2012 with your name, UIN, session, and detailed needs. Please note that if you do not inform Fish Camp of your needs, we may not be able to provide appropriate accommodations at camp.</p>

    <h3>RETURN</h3>
    <p>The buses will return to campus between 4:15 PM CDT and 4:45 PM CDT on the last day of the session. We encourage parents and guardians to plan on arriving no later than 4:30 PM. Please make arrangements in advance if you need to be picked up.</p>

    <h3>REMINDER</h3>
    <ul>
        <li>All students must travel to and from Fish Camp on Texas A&M buses, and all students must attend their Fish Camp session in its entirety. There will be NO EXCEPTIONS. If you believe you have an extenuating circumstance, email <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?>.</li>
        <li>For the safety of all campers, students who arrive at camp with a contagious illness will be asked to leave Fish Camp and find transportation home at their own cost. Should you be asked to leave, you may email <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> to be rescheduled to another session of Fish Camp.</li>
        <li>Lakeview Methodist Conference Center is a facility that does NOT allow drugs, alcohol, tobacco, or firearms (including concealed handguns). Failure to abide by these rules will result in Fish Camp disciplinary action, including removal from Lakeview grounds at your own expense.</li>
    </ul>

    <h3>LODGING</h3>
    <p>Accommodations for the night before and/or after your assigned session will be your personal responsibility. We recommend that all freshmen, who are driving themselves to and from College Station, make accommodations for the night after camp if they are very tired from their four days at camp. A list of all of the lodging in College Station area can be found at: <?=$this->link('http://visitaggieland.com/') ?>.</p>

    <? if ($session_name == 'G'): ?>
        <h3>EARLY MOVE IN OPTIONS (Session G Only)</h3>
        <ul>
            <li>Freshmen attending Session G can drop off their belongings only on Saturday, August 17th from 8:00AM until 9:15AM. All students attend Session G MUST be at Reed Arena to catch the bus by 9:30AM.</li>
            <li>The goal is just to move your belongings in your room…not to completely move in. You can do this when you return from Fish Camp. </li>
            <li>All students who check in early will need to apply for early move in at: <a href="http://reslife.tamu.edu/how/">http://reslife.tamu.edu/how/</a> then click on "Sign up for Early Move In" and select "Fish Camp G" as the reason to move in early.</li>
            <li>On Aug 17th, you will need to check in at your respective hall to pick up your key (please see your assignment notification letter for move in locations & instructions). Students who check in early will be billed for one day early check in at $40/night. Students who sign up for early move in service will be automatically billed for this in mid-September, after they have checked in (unless they cancel their early move in request).</li>
            <li>Please note: Residence Life will charge students for early move-in. This is NOT a Fish Camp fee. It will be billed directly to their student account. For early move in rates, please visit <a href="http://reslife.tamu.edu">http://reslife.tamu.edu</a>.</li>
        </ul>
    <? endif; ?>

    <h3>CANCELLATIONS</h3>
    <ul>
        <li><b>As stated during registration, the last day to cancel your registration with a partial refund will be July 16, 2013 at 5:00pm.</b></li>
        <li><b>You will need to submit the Cancellation/Refund Request Form in order for a refund to be approved and processed.</b></li>
        <li>Registration fees are not transferable to another individual.</li>
    </ul>

    <h3>EMERGENCY INFORMATION</h3>
    <p>For EMERGENCY use only, there is a phone line established at Lakeview in order for information to be relayed to freshmen. This number is: 903-538-2957. This number is directly linked to on-site Fish Camp Headquarters and should be used for extreme circumstances only!</p>

    <h3>WHAT TO BRING:</h3>
    <ul>
        <li>One form of picture identification</li>
        <li>Cool and comfortable clothes and shoes. It is recommended that students bring clothes that they don't mind getting dirty, as there are optional free time activities such as Ultimate Frisbee, swimming, and volleyball.</li>
        <li>Tennis Shoes (required for scheduled outdoor activities)</li>
        <li>Clothes for Reveille's Western Toga Party and 12th Man Flashback Pajama Party (if desired, these mixers include A&M attire, western wear, togas, flashback attire, and pajamas)</li>
        <li>Shower Shoes (if desired)</li>
        <li>Sheets, blanket, and/or sleeping bag and pillow</li>
        <li>Toiletries and towels</li>
        <li>Water bottle to stay hydrated</li>
        <li>Insect repellant</li>
        <li>Sunscreen</li>
        <li>Flashlight</li>
        <li>Small quantity of cash for snacks and drinks (if desired)</li>
        <li>Trash bag to put dirty clothes in</li>
    </ul>

    <p>Welcome to the Aggie Family. We can't wait to see you!</p>
<? elseif ($session_name == "WL"): ?>

    <p>Howdy!</p>

    <p>Unfortunately, there was not enough space in the session(s) you selected during registration. If you would like to still go to camp, you can attend the following sessions:</p>
    <ul>
        <li>Session D:  August 8-11</li>
        <li>Session E:  August 11-14</li>
        <li>Session F:  August 14-17</li>
        <li>Session G:  August 17-20</li>
    </ul>

    <p>If you are available for any of the above sessions and still want to attend camp, please email <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> by July 13th, 2012 at 5pm in order to change your session.</p>

    <p>If none of the above dates work with your schedule, we will give you a full refund of $165.00 (less the $0.50 transaction fee if you paid via credit card).</p>

    <p>Again, we apologize for the inconvenience. Please feel free to e-mail <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> with any questions you have.</p>
<? endif; ?>