<h2><?=$this->subject ?></h2>

<p>An Appeal form has been submitted for committee review.</p>

<p>
	To review it, click the link below:<br />
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'appeals', 'action' => 'committee', 'id' => $this->record->password))) ?>
</p>