<?
use \Entity\Settings;
?>

<h2><?=$this->subject ?></h2>

<p>Howdy,</p>

<? if ($this->type == "installment"): ?>

	<p>Your request to pay your Fish Camp registration dues by installment plan has been approved.</p>

	<p>The entirety of your registration payment is due by <?=date('F j, Y', Settings::getSetting('payment_due_date', 0)) ?>. Failing to pay the remaining balance will forfeit your spot in Fish Camp. Payments using this method must be made with check only. Please note, a fee of $35 will be applied to any checks returned for non-sufficient funds.</p>

	<p>The mailing address for Fish Camp is as follows:</p>

<? else: ?>
	<? if ($this->approval == 2): ?>

		<p>We are pleased to inform you that you have received a full scholarship to cover your registration fee for Fish Camp <?=\Entity\Settings::getSetting('camp_year', date('Y')) ?>. If you would like to send a thank you note please send it to:</p>

	<? elseif ($this->approval == 1): ?>

		<p>We are pleased to inform you that you have received a half Fish Camp scholarship to cover part of your expenses for Fish Camp <?=\Entity\Settings::getSetting('camp_year', date('Y')) ?>. If you would like to send a thank you note, please send it to the address below. Your remaining balance for the registration fee is $<? echo number_format(Settings::getSetting('registration_'.FC_TYPE_FRESHMAN.'_installment', 0), 2); ?>. This balance must be paid by check or money order and must be received by <?=date('F j, Y', Settings::getSetting('payment_due_date', 0)) ?>.</p>

		<p>Failing to pay the remaining balance will forfeit your spot in Fish Camp. Payments using this method must be made with check only. Please note, a fee of $35 will be applied to any checks returned for non-sufficient funds.</p>

		<p>The mailing address for Fish Camp is as follows:</p>

	<? else: ?>

		<p>Due to the high number of financial aid applicants for Fish Camp <?=\Entity\Settings::getSetting('camp_year', date('Y')) ?>, we are unable to offer you any assistance at this time. Your remaining balance for the registration fee is $<? echo number_format(Settings::getSetting('registration_'.FC_TYPE_FRESHMAN.'_due', 0), 2); ?>. This balance must be paid by check or money order and must be received by <?=date('F j, Y', Settings::getSetting('payment_due_date', 0)) ?>.  Failing to pay the remaining balance will forfeit your spot in Fish Camp. The mailing address for Fish Camp is as follows:</p>
		
	<? endif; ?>
<? endif; ?>

<blockquote>
	Fish Camp<br>
	Texas A&amp;M University<br>
	1236 TAMU<br>
	College Station, TX 77843-1236
</blockquote>

<p>Please feel free to email <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?> or call the Fish Camp office at 979-845-1627 if you have any additional questions.</p>

<p>Thanks and Gig 'em,<br>Fish Camp Director Staff <?=\Entity\Settings::getSetting('camp_year', date('Y')) ?></p>