<h2>Refund Request Submitted</h2>

<p>A refund request has been submitted.</p>

<p>
	To review this request, visit this link:<br />
	<?=$this->link($this->route(array('module' => 'forms', 'controller' => 'refunds', 'action' => 'review', 'code' => $this->access_code))) ?>
</p>

<p>The details of the request are listed below:</p>

<dl>
	<dt>Submitted By:</dt>
	<dd><?=$this->user['firstname'] ?> <?=$this->user['lastname'] ?> (<?=$this->user['username'] ?>)</dd>
	
<? foreach($this->form as $field_name => $field_val): ?>
	<dt><?=$field_name ?>:</dt>
	<dd>
		<? if (is_array($field_val)): ?>
			<? foreach($field_val as $offset => $val): ?>
				<div><?=$offset ?>: <?=$val ?></div>
			<? endforeach; ?>
		<? elseif (!empty($field_val)): ?>
			<?=$field_val ?>
		<? endif; ?>
	</dd>
<? endforeach; ?>
</dl>