<h2><?=$this->subject ?></h2>

<p>The appeal process manager has submitted the final decision regarding a GPR appeal. This decision must be reviewed and finalized before the process can complete.</p>

<p>
	To manage this request, click the link below:<br>
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'appeals', 'action' => 'final', 'id' => $this->record->password))) ?>
</p>