<h2><?=$this->subject ?></h2>

<p>The review of your appeal request has been completed, and the final decision is now available.</p>

<p>
	To review it, click the link below:<br />
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'appeals', 'action' => 'results', 'id' => $this->record->password))) ?>
</p>

