<?
$this->headTitle('Session Confirmation');
?>

<dl>
    <dt>Student Name:</dt>
    <dd><?=$this->user['firstname'] ?> <?=$this->user['lastname'] ?> (XXX-XX-<?=substr($this->user['uin'], -4) ?>)</dd>
</dl>

<?=$this->renderCommon('sessionconfirmation', array('session' => $this->session)) ?>