<?
$this->headTitle('Registration Status');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span7">
		<div class="floating">
			<h2>Required Documents</h2>

			<? if ($this->user->fc_received_papers != 0): ?>
				<div class="alert-message block-message success">
			    	<b>Your required documents have been submitted.</b><br />
			        No additional action is necessary for this step.
			    </div>
			<? else: ?>
				<div class="alert-message block-message danger">
			    	<b>You must submit a medical release form to complete your registration.</b><br />
			        Our system has shown you to be a minor before the first day of Session A. To complete your registration process, you must download the medical release form found on the Fish Camp website and fill it out accordingly. Do not forget the parent/guardian signature on the back of the form. This form will need to be received no later than <? echo date('F j, Y', \Entity\Settings::getSetting('medical_release_deadline')); ?>. Once filled out, it can be faxed to 979-458-3926 or mailed to:<br />
			        
			        <blockquote>Fish Camp<br>TAMU Student Activities<br>1236 TAMUS<br>College Station, TX  77843</blockquote>
			    </div>
			<? endif; ?>

			<h2>Registration Fee Payment</h2>

			<? if (!$this->show_payment): ?>
				<div class="alert-message block-message info">
					<b>This registration process does not require payment.</b><br />
					No additional action is necessary.
				</div>
			<? elseif ($this->user->fc_received_payment != 0): ?>
				<div class="alert-message block-message success">
			    	<b>Your payment has been submitted.</b><br />
			        No additional action is necessary for this step.
			    </div>
			<? else: ?>
				<div class="alert-message block-message danger">
			    	<b>You must pay the registration fee to complete your registration.</b><br />
			        You can pay the registration fee by choosing an option below:<br /><br />
					
					<? if ($this->app_type == FC_TYPE_COUNSELOR2): ?>
						<b>Pay Online (Credit Card)</b><br />
						Click the button below to pay online by credit card.<br />
						
						<div class="buttons">
							<?=$this->button(array(
								'type'		=> 'link',
								'icon'		=> 'money',
								'text'		=> 'Pay Online',
								'href'		=> $this->routeFromHere(array('action' => 'pay')),
							)) ?>
						</div>
						
						<br />
						<b>Scholarship Request</b><br />
						To request a scholarship, <a href="http://fishcamp.tamu.edu/scholarshipapplication">click here</a>. If you have already submitted a request through this form, you will be notified of any updates via e-mail.
					<? else: ?>
						<b>Pay Online (Credit Card)</b><br />
						Click the button below to pay online by credit card.<br />
						
						<div class="buttons">
							<?=$this->button(array(
								'type'		=> 'link',
								'icon'		=> 'money',
								'text'		=> 'Pay Online',
								'href'		=> $this->routeFromHere(array('action' => 'pay')),
							)) ?>
						</div>

						<!--
						<br>
						<b>Pay by Mail (Check or Money Order)</b><br />
						To pay by mail, send a check in the amount of <?=$this->money($this->registration_fee) ?> to "Fish Camp" at the following address:<br />
						
						<blockquote>Fish Camp<br>TAMU Student Activities<br>1236 TAMUS<br>College Station, TX  77843</blockquote>
						-->

						<br>
						<b>Installment Plan</b><br>
						If you choose this option, you will be able to make two equal payments of $<?=number_format(\Entity\Settings::getSetting('registration_1_installment'), 2) ?>. The first installment must be received by June 7, 2013 at 5:00pm. The second installment must be received by June 21, 2013 by 5:00pm. Failure to pay on time will result in your registration being cancelled. Payments using this method must be made with check only. Please note, a fee of $35 will be applied to any checks returned for non-sufficient funds.

						<div class="buttons">
							<?=$this->button(array(
								'type'		=> 'link',
								'icon'		=> 'application_go',
								'text'		=> 'Installment Plan',
								'href'		=> $this->route(array('module' => 'forms', 'controller' => 'altpayment', 'type' => 'installment')),
							)) ?>
						</div>

						<br>
						<b>Scholarship Request</b><br>
						If you choose this option, you can apply for a Fish Camp registration fee waiver which can either be full or partial, based on need. Any remaining balance is due in full.

						<div class="buttons">
							<?=$this->button(array(
								'type'		=> 'link',
								'icon'		=> 'application_go',
								'text'		=> 'Scholarship Request',
								'href'		=> $this->route(array('module' => 'forms', 'controller' => 'altpayment', 'type' => 'scholarship')),
							)) ?>
						</div>
					<? endif; ?>
			    </div>
			<? endif; ?>
		</div>
	</div>
	<div class="span5">
		<div class="floating">
			<h2>My Profile</h2>
			<p>You can edit your basic profile information at any time by <a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'profile')) ?>">visiting your profile page</a>. Editing your basic profile information will not affect your registration status.</p>

			<p>If you have completed the registration process, click the button below to log out.</p>

			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'link',
					'class'		=> 'large primary',
					'icon'		=> 'key_go',
					'text'		=> 'Log Out',
					'href'		=> $this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'logout')),
				)) ?>
			</div>
		</div>
	<? if ($this->app_type == FC_TYPE_FRESHMAN): ?>
		<div class="floating">
			<h2>My Preferences</h2>

			<h3>Session Preference</h3>
			<p>You have indicated that you will be able to attend one of the following session(s):</p>

			<ul>
			<? foreach($this->sessions as $session_letter): ?>
				<li><?=$this->session_names[$session_letter] ?></li>
			<? endforeach; ?>
			</ul>

			<h3>Session Change</h3>
			<p>To make a change to the list above and indicate that you will be able to attend more or fewer sessions, click the button below.</p>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'arrow_refresh',
					'text'		=> 'Session Change',
					'href'		=> $this->routeFromHere(array('action' => 'sessionchange')),
				)) ?>
			</div>

		<? if (\Entity\RefundRequest::isOpen()): ?>
			<h3>Refund/Cancellation Form</h3>
			<p>If you would like to cancel your Fish Camp registration and (if applicable) receive a refund for your dues paid, click the button below to complete the refund/cancellation request form.</p>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'delete',
					'class'		=> 'danger confirm-delete',
					'text'		=> 'Refund/Cancellation Request',
					'href'		=> $this->route(array('module' => 'forms', 'controller' => 'refunds')),
				)) ?>
			</div>
		<? else: ?>
			<h3>Cancel Registration</h3>

			<p>To cancel your registration for Fish Camp, click the button below. If you have already paid your registration fees, you will not be refunded.</p>

			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'delete',
					'class'		=> 'danger confirm-delete',
					'text'		=> 'Cancel Registration',
					'href'		=> $this->routeFromHere(array('action' => 'cancel')),
				)) ?>
			</div>
		<? endif; ?>
		</div>
	<? endif; ?>
	</div>
</div>