<?php
$this->headTitle('Alternate Payment Request Form');
?>

<h2>Select Request Type</h2>

<p>The following types of alternate payment are available:</p>

<dl>
	<dt><a href="<?=$this->routeFromHere(array('type' => 'scholarship')) ?>">Scholarship Request</a></dt>
	<dd>If you choose this option, you can apply for a Fish Camp registration fee waiver which can either be full or partial, based on need. Any remaining balance is due in full.</dd>

	<dt><a href="<?=$this->routeFromHere(array('type' => 'installment')) ?>">Installment Plan</a></dt>
	<dd>If you choose this option, you will be able to make two equal payments of $<?=number_format(\Entity\Settings::getSetting('registration_1_installment'), 2) ?>. The first installment must be received by June 5th at 5:00pm. The second installment must be received by June 22nd by 5:00pm. Failure to pay on time will result in your registration being cancelled.</dd>
</dl>