<?
/*
$user = $this->auth->getLoggedInUser();
$session = $this->session;
$camp = $this->camp;

if ($this->panel == "chair")
	$nickname = $user->firstname.' '.$user->lastname.' ('.$session->name.' '.$camp->name.')';
else
	$nickname = $user->firstname.' '.$user->lastname.' (Admin)';
?>

<div class="floating">
	<h2>Chat</h2>

	<div id="panel_chat" style="height: 250px; overflow-y: scroll"></div>
	<input id="new_message" name="new_message" placeholder="Enter message here..." class="full-width">
</div>
*/ ?>

<script type="text/javascript">
$(function() {

	/* Pull a recent history of messages. */
	$.PUBNUB.history({
	    channel: 'counselect_chat',
	    limit: 5
	}, function(messages) {
		$.each(messages, function(key, msg) {
			appendChatMessage(msg);
		});
	} );
	
	/* Handle receiving new messages. */
	$.PUBNUB.subscribe({
		channel: 'counselect_chat'
	}, function(message) {
		appendChatMessage(message);
	});

	/* Handle chat submission. */
	$('#new_message').focus();
	$('#new_message').keypress(function(e) {
		if (e.keyCode == 13)
		{
			e.preventDefault();

			$.PUBNUB.publish({
			    channel: 'counselect_chat',
			    message: {
			    	nickname: '<?=$nickname ?>',
			    	body: $(this).val(),
			    	timestamp: Date.now().toString('h:mmtt')
				}
			});

			$(this).val('');
		}
	});
	
});

function appendChatMessage(message)
{
	var chat_line = '<span class="label">'+message.timestamp+'</span> <b>'+message.nickname+':</b><br>'+message.body+'<hr>';

	$('#panel_chat').append(chat_line).prop('scrollTop', $("#panel_chat").prop("scrollHeight"));
}
</script>