<?
$this->headTitle('Counselect Live');
$this->layout()->manual = TRUE;

$this->headScript()->appendFile(\DF\Url::content('jquery/addons/date.js'));
echo $this->pubNub();
$this->panel = 'admin';

$user = $this->auth->getLoggedInUser();
$session = $this->session;
$camp = $this->camp;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Administrator View</h2>

			<p>From this view, you can manage the entry of counselors and the automated assignment process.</p>
		</div>

		<div class="floating">
			<div id="panel_intro" class="counselect_panel">
				<h2>Enter an Applicant</h2>

				<p>Choose an applicant from the list on the right.</p>
			</div>
			<div id="panel_preference" class="counselect_panel">
				<h2>Review Preferences</h2>

				<h3 class="label_applicant_name">Student Name</h3>

				<p>Sessions and camps are listed in the table below. Camps highlighted in green have indicated they want to "ping" for this applicant; camps highlighted in red have chosen to ignore this applicant.</p>
				
				<div class="row">
				<? foreach($this->overview as $session_name => $camps): ?>
					<div class="span1">
						<h3><?=$session_name ?></h3>

						<table class="datatable zebra">
				            <tbody>
				            <? foreach($camps as $camp_name => $camp_code): ?>
				                <tr class="btn_toggle_status <? if (isset($this->disabled[$camp_code])): ?>disabled<? endif; ?>" rel="<?=$camp_code ?>" style="cursor: pointer;">
				                    <td align="left"><big><?=$camp_name ?></big></td>
				                </tr>
				            <? endforeach; ?>
				            </tbody>
				        </table>
				    </div>
				<? endforeach; ?>
				</div>

				<div class="buttons well">
					<?=$this->button(array(
						'type'		=> 'button',
						'id'		=> 'btn_assign',
						'text'		=> 'Assign Applicant',
						'class' 	=> 'large primary',
					)) ?>
				</div>
			</div>
			<div id="panel_results" class="counselect_panel">
				<h2>Assignment Results</h2>

				<h3 class="label_applicant_name">Student Name</h3>

				<p>This applicant has been assigned to a camp:</p>

				<h3 class="label_assignment_result">Camp Name</h3>

				<p>To restart the assignment process, click a name from the list on the right.</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Counselor List</h2>
			
			<div class="buttons well">
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_all',
					'class'		=> 'small btn-inverse',
					'text'		=> 'All',
					'title'		=> 'Show All Counselors',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_males',
					'class'		=> 'small primary',
					'text'		=> 'M',
					'title'		=> 'Show Male Counselors Only',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_females',
					'class'		=> 'small primary',
					'text'		=> 'F',
					'title'		=> 'Show Female Counselors Only',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_unassigned',
					'class'		=> 'small',
					'text'		=> 'Unsel',
					'title'		=> 'Show Unselected Counselors Only',
				)) ?>
				<?=$this->button(array(
					'type'		=> 'button',
					'id'		=> 'btn_select_assigned',
					'class'		=> 'small',
					'text'		=> 'Sel',
					'title'		=> 'Show Selected Counselors Only',
				)) ?>
			</div>

			<div style="position: relative; height: 600px; overflow-y: scroll;">
				<table id="counselor_list" class="datatable zebra" width="100%">
					<tbody>
					<? foreach($this->counselors as $counselor): ?>
						<tr class="input counselor_row <? if ($counselor['fc_assigned_session']): ?>green<? endif; ?> <? if ($counselor['gender'] == 'M'): ?>male<? else: ?>female<? endif; ?>" rel="<?=$counselor['lastname'] ?>, <?=$counselor['firstname'] ?> (<?=$counselor['uin'] ?>)" style="cursor: pointer;">
							<td align="left">
								<div><big><?=$counselor['lastname'] ?>, <?=$counselor['firstname'] ?></big></div>
								<small><div class="assignment_result">
								<? if ($counselor['fc_assigned_session']): ?>
									<?=$counselor['fc_assigned_session'] ?> <?=$counselor['fc_assigned_camp'] ?>
								<? endif; ?>
								</div></small>
							</td>
						</tr>
					<? endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	$('.counselect_panel').hide();
	$('#panel_intro').show();

	/* Pull a recent history of messages. */
	$.PUBNUB.history({
	    channel: 'counselect_main',
	    limit: 100
	}, function(rows) {
		$.each(rows, function(key, row) {
			processData(row);
		});
	} );
	
	/* Handle receiving new messages. */
	$.PUBNUB.subscribe({
		channel: 'counselect_main'
	}, function(row) {
		processData(row);
	});

	/* Handle button clicks. */
	$('#btn_start_assignment').click(function(e) {
		e.preventDefault();
		startAssignment();
	});
	$('#field_applicant').keypress(function(e) {
		if (e.keyCode == 13)
		{
			e.preventDefault();
			startAssignment();
		}
	});

	$('.btn_toggle_status').click(function(e) {
		e.preventDefault();

		var parent_tr = $(this);
		var camp_code = parent_tr.attr('rel');
		var new_status = (parent_tr.hasClass('green')) ? false : true;

		$.PUBNUB.publish({
			channel: 'counselect_main',
			message: {
				'type': 'preference',
				'origin': camp_code,
				'status': new_status
			}
		});
	});

	$('#btn_assign').click(function(e) {
		e.preventDefault();

		var student_name = $('#panel_preference .label_applicant_name').text();
		var all_interested = $('#panel_preference tr.green');
		var assigned = 'N/A';

		if (all_interested.length > 0)
		{
			var index = Math.floor(Math.random() * (all_interested.length));
			assigned = all_interested.slice(index, index+1).attr('rel');
		}

		if (assigned != "N/A")
		{
			$.getJSON('<?=$this->routeFromHere(array('action' => 'assign')) ?>',
	        {
	            'name': student_name,
	            'assigned_to': assigned
	        }, function() {});
		}

		$.PUBNUB.publish({
			channel: 'counselect_main',
			message: {
				'type': 'result',
				'name': student_name,
				'assigned_to': assigned
			}
		});
	});

	$('.counselor_row').click(function(e) {
		e.preventDefault();

		var new_name = $(this).attr('rel');

		$.PUBNUB.publish({
			channel: 'counselect_main',
			message: {
				'type': 'initial',
				'name': new_name
			}
		});
	});
	
	$('#btn_select_all').click(function(e) {
		e.preventDefault();
		$('#counselor_list tr').show();
	});
	$('#btn_select_males').click(function(e) {
		e.preventDefault();
		$('#counselor_list tr.male').show();
		$('#counselor_list tr.female').hide();
	});
	$('#btn_select_females').click(function(e) {
		e.preventDefault();
		$('#counselor_list tr.male').hide();
		$('#counselor_list tr.female').show();
	});
	$('#btn_select_unassigned').click(function(e) {
		e.preventDefault();

		$('#counselor_list tr').not('.green').show();
		$('#counselor_list tr.green').hide();
	});
	$('#btn_select_assigned').click(function(e) {
		e.preventDefault();

		$('#counselor_list tr').not('.green').hide();
		$('#counselor_list tr.green').show();
	});

	$('#btn_reset').click(function(e) {
		e.preventDefault();

		$.PUBNUB.publish({
			channel: 'counselect_main',
			message: {
				'type': 'reset'
			}
		});
	});
});

function startAssignment()
{
	var student_name = $('#field_applicant').val();
	$('#field_applicant').val('');

	$.PUBNUB.publish({
		channel: 'counselect_main',
		message: {
			'type': 'initial',
			'name': student_name
		}
	});
}

/* Process a messaging system update. */
function processData(row)
{
	if (row.type == "reset")
	{
		$('#field_applicant').val('').focus();
		$('.counselect_panel').hide();
		$('#panel_intro').show();
	}
	else if (row.type == "preference")
	{
		var code = row.origin;
		var color = (row.status) ? 'green' : 'red';

		$('#panel_preference tr[rel="'+code+'"]').removeClass('green red').addClass(color);
	}
	else if (row.type == "initial")
	{
		$('.label_applicant_name').text(row.name);

		$('#panel_preference tr').removeClass('green red');

		$('.counselect_panel').hide();
		$('#panel_preference').show();
	}
	else if (row.type == "result")
	{
		$('.label_applicant_name').text(row.name);
		$('.label_assignment_result').text(row.assigned_to);

		$('tr[rel="'+row.name+'"]').removeClass('red green').addClass('green').find('.assignment_result').text(row.assigned_to);

		$('.counselect_panel').hide();
		$('#panel_results').show();
	}
}
</script>