<h2>Online Registration Submitted</h2>

<p>Thank you for registering for Fish Camp! Your registration has been submitted successfully.</p>

<p>Depending on your payment method, you may still be required to pay the Fish Camp attendance fee. Visit the link below to view the current status of your registration.</p>

<p>
	You can view the status of your registration and access additional information at any time by visiting the address below:<br />
    <?=$this->link(\DF\Url::baseUrl()) ?>
</p>

<p>If you have any questions, please contact us at 979-845-1627 or <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?>. Welcome to the Aggie Family and we look forward to meeting you at Fish Camp!</p>

<p>
	Thanks and Gig'em,<br />
    Fish Camp Director Staff
</p>