<h2>Online Registration Requires Medical Release Form</h2>

<p>Thank you for registering for Fish Camp! We have received your registration details, but our records show that we have not yet received a signed copy of your Medical Release Form. As you will be under 18 on the first day of Fish Camp, you must have this form signed by a parent or guardian before your registration will be complete.</p>

<p>
    You can download the Medical Release Form from this address:<br />
    <?=$this->link(\DF\Url::content('documents/MedicalReleaseForm.pdf')) ?>
</p>

<p>If you have already mailed in a medical release form, you may disregard this message.</p>

<p>If you have any questions, please contact us at 979-845-1627 or <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?>. Welcome to the Aggie Family and we look forward to meeting you at Fish Camp!</p>

<p>
	Thanks and Gig'em,<br />
    Fish Camp Director Staff
</p>