<?
$this->headTitle('Manage Registration');
$this->layout()->manual = TRUE;

$this->headScript()->appendFile('https://www.google.com/jsapi');
?>
<div class="row">
	<div class="span8">
		<div class="floating">
			<p><b>Welcome to the Fish Camp Administration page.</b><br />
			From this page, you can review the current operations of the Fish Camp registration process.</p>

			<h2>Live Statistics</h2>
			
			<h3>Sessions Overview</h3>
	        
	        <script type="text/javascript">
	        google.load("visualization", "1", {packages:["corechart"]});
	        google.setOnLoadCallback(drawChart);
	        
	        function drawChart() {
	            var data = new google.visualization.DataTable();
	            data.addColumn('string', 'Session');
	            data.addColumn('number', 'Total');
	            data.addColumn('number', 'Males');
	            data.addColumn('number', 'Females');
	            
	            <? foreach($this->session_chart['sessions'] as $session_info): ?>
	            data.addRow(['<?=$session_info['name'] ?>', <?=$session_info['total'] ?>, <?=$session_info['male'] ?>, <?=$session_info['female'] ?>]);
	            <? endforeach; ?>
	            
	            var chart = new google.visualization.BarChart(document.getElementById('session_chart'));
	            chart.draw(data, {
	                titlePosition: 'none',
	                chartArea: {left:30,top:10,width:"75%",height:"85%"},
	                hAxis: { minValue: 0, maxValue: <?=$this->session_chart['max_total'] ?> },
	                colors: ['#333333','#3366CC','#FF6699']
	            });
	        }
	        </script>
	        
	        <div id="session_chart" style="height: 300px;"></div>

	        <table class="table table-striped table-condensed" width="100%">
	        	<colgroup>
	        		<col width="30%">
	        	<? foreach($this->session_chart['sessions'] as $session_name => $session_info): ?>
	        		<col width="10%">
	        	<? endforeach; ?>
	        	</colgroup>
	        	<thead>
	        		<tr>
	        			<th>&nbsp;</th>
	        		<? foreach($this->session_chart['sessions'] as $session_name => $session_info): ?>
	        			<th><?=$session_name ?></th>
	        		<? endforeach; ?>
	        		</tr>
	        	</thead>
	        	<tbody>
	        		<tr>
	        			<td>
	        				<b>Current</b><br>
	        				<small>Number of freshmen tentatively assigned to a session/camp/cabin.</small>
	        			</td>
	        		<? foreach($this->session_chart['sessions'] as $session_name => $session_info): ?>
	        			<td>
	        				<big><?=$session_info['num_current'] ?></big><br>
	        				<small><?=$session_info['num_current_m'] ?> M<br><?=$session_info['num_current_f'] ?> F</small>
	        			</td>
	        		<? endforeach; ?>
	        		</tr>
	        		<tr>
	        			<td>
	        				<b>Waitlist</b><br>
	        				<small>Point at which sessions become "Waitlist Only" on registration page.</small>
	        			</td>
	        		<? foreach($this->session_chart['sessions'] as $session_name => $session_info): ?>
	        			<td>
	        				<big><?=$session_info['num_waitlist'] ?></big><br>
	        				<small><?=$session_info['num_waitlist_m'] ?> M<br><?=$session_info['num_waitlist_f'] ?> F</small>
	        			</td>
	        		<? endforeach; ?>
	        		</tr>
	        		<tr>
	        			<td>
	        				<b>Full</b><br>
	        				<small>Point at which auto-assignment will no longer assign into session.</small>
	        			</td>
	        		<? foreach($this->session_chart['sessions'] as $session_name => $session_info): ?>
	        			<td>
	        				<big><?=$session_info['num_full'] ?></big><br>
	        				<small><?=$session_info['num_full_m'] ?> M<br><?=$session_info['num_full_f'] ?> F</small>
	        			</td>
	        		<? endforeach; ?>
	        		</tr>
	        		<tr>
	        			<td>
	        				<b>Total</b><br>
	        				<small>Capacity of session, based on cabin populations.</small>
	        			</td>
	        		<? foreach($this->session_chart['sessions'] as $session_name => $session_info): ?>
	        			<td>
	        				<big><?=$session_info['num_total'] ?></big><br>
	        				<small><?=$session_info['num_total_m'] ?> M<br><?=$session_info['num_total_f'] ?> F</small>
	        			</td>
	        		<? endforeach; ?>
	        		</tr>
	        	</tbody>
	        </table>
	    
			<br />
			<h3>Recent Registration Totals</h3>
	        
	        <table class="table table-striped table-condensed" width="100%">
	            <colgroup>
	            <? for($i = 0; $i < count($this->registration_chart); $i++): ?>
	                <col width="10%" />
	            <? endfor; ?>
	            </colgroup>
	            <thead>
	                <tr>
	                <? foreach($this->registration_chart as $chart_row): ?>
	                    <th><?=$chart_row['time'] ?></th>
	                <? endforeach; ?>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                <? foreach($this->registration_chart as $chart_row): ?>
	                    <td align="center"><?=$chart_row['overall'] ?></td>
	                <? endforeach; ?>
	                </tr>
	                <tr>
	                <? foreach($this->registration_chart as $chart_row): ?>
	                    <td align="center"><?=$chart_row['per_interval'] ?> / Min</td>
	                <? endforeach; ?>
	                </tr>
	            </tbody>
	        </table>
			
			<br />
			<h3>User Registrations Per Day</h3>
			
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Date</th>
						<th>Registrants</th>
					</tr>
				</thead>
				<tbody>
				<? foreach($this->registrations_per_day as $reg_date => $reg_num): ?>
					<tr>
						<td><?=$reg_date ?></td>
						<td><?=$reg_num ?></td>
					</tr>
				<? endforeach; ?>
			</table>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Find a User</h2>
			
			<form action="<?=$this->routeFromHere(array('controller' => 'search', 'action' => 'index')) ?>" class="df-form form-stacked" method="get">

			<div class="clearfix">
				<label for="criteria[name]">UIN/NetID/Name:</label>
				<input type="text" name="criteria[name]" value="" class="full-width big" />
			</div>
			<?=$this->button(array(
				'type'		=> 'submit',
				'icon'		=> 'find',
				'text'		=> 'Search Users',
			)) ?>
			</form>
		</div>
		<div class="floating">
			<h2>Applicant Totals</h2>
			
			<dl>
				<dt>Total Applications:</dt>
				<dd><?=$this->user_statistics['all'] ?></dd>
				
				<dt>Chairs:</dt>
				<dd><?=$this->user_statistics['chair'] ?></dd>
				
				<dt>Unselected Counselors:</dt>
				<dd><?=$this->user_statistics['counselor'] ?></dd>
				
				<dt>Selected Counselors:</dt>
				<dd><?=$this->user_statistics['counselor2_total'] ?></dd>
				
				<dt>Freshmen:</dt>
				<dd>
					<div><?=$this->user_statistics['freshman'] ?> Not Finished</div>
					<div><?=$this->user_statistics['freshman_minor'] ?> Need Minor Release</div>
					<div><?=$this->user_statistics['freshman_scholarship'] ?> Unpaid</div>
					<div><?=$this->user_statistics['freshman_complete'] ?> Complete</div>
					<div><b><?=$this->user_statistics['freshman_total'] ?> Total</b></div>
				</dd>
			</dl>
		</div>
	    <div class="floating">
	        <h2>Registration Manual Overrides</h2>
	        
	        <p>These links are specially coded to allow registrants to access the corresponding registration type, even if it is currently closed for registration. <b>Use these links carefully</b>, as anyone who receives them will be able to register.</p>
	        
	        <dl>
	        <? foreach($this->access_codes as $code_type => $code_info): ?>
	            <dt><?=$code_info['name'] ?></dt>
	            <dd><input type="text" class="highlight_on_focus full-width" value="<?=$code_info['url'] ?>"></dd>
	        <? endforeach; ?>
	        </dl>
	    </div>
	</div>
</div>