<?
$this->headTitle('Manage Events');
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span6">
        <div class="floating">
            <h2>Today's Events in All Categories</h2>
            
            <ul>
            <? foreach($this->today_events as $event): ?>
                <li><a href="<?=$this->routeFromHere(array('action' => 'attendees', 'id' => $event['id'])) ?>">
                    <b><?=$event->getTitle() ?></b><br>
                    <small><?=$event->getDateText(1) ?></small>
                </a></li>
            <? endforeach; ?>
            </ul>
        </div>
        
        <div class="floating">
            <h2>Event Categories</h2>

            <div class="buttons">
            <?=$this->button(array(
                'type'      => 'link',
                'icon'      => 'add',
                'href'      => $this->routeFromHere(array('action' => 'edittype')),
                'text'      => 'Add New Type',
            )) ?>
            </div>

            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="5%">
                    <col width="5%">
                    <col width="5%">
                    <col width="85%">
                </colgroup>
                <tbody>
                <? foreach($this->event_types as $type_id => $type_name): ?>
                    <tr class="input">
                        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'edit', 'category' => $type_id)) ?>" title="Create new event with this type."><?=$this->icon('add') ?></a></td>
                        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'edittype', 'category' => $type_id)) ?>" title="Edit event type details."><?=$this->icon('pencil') ?></a></td>
                        <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'deletetype', 'category' => $type_id)) ?>" class="confirm-delete" title="Delete event type."><?=$this->icon('delete') ?></a></td>
                        <td align="left">
                            <a href="<?=$this->routeFromHere(array('action' => 'category', 'category' => $type_id)) ?>"><?=$type_name ?></a>
                        </td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

    <div class="span6">
        <div class="floating">
            <h2>Generate Event Report</h2>

            <?=$this->report_form->render() ?>
        </div>
    </div>
</div>