<?
$this->headTitle('Manage Ledger Types');
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->route(array('module' => 'admin', 'controller' => 'ledgertypes', 'action' => 'edit')),
		'icon'		=> 'add',
		'text'		=> 'Add Ledger Type',
	)) ?>
</div>

<? foreach($this->ledger_types as $category => $types): ?>
<fieldset>
	<legend><?=$category ?></legend>
	
	<table class="datatable zebra">
		<colgroup>
			<col width="30%" />
            <col width="15%" />
            <col width="15%" />
			<col width="40%" />
		</colgroup>
		<thead>
			<tr>
				<th>Actions</th>
                <th>Budget</th>
                <th>Amount Options</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
		<? foreach($types as $type): ?>
			<tr>
				<td align="center">
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'pencil',
						'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $type['id'])),
						'text'		=> 'Edit',
					)) ?>
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'delete',
						'class'		=> 'negative confirm-delete',
						'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $type['id'], 'csrf' => \DF\Csrf::getToken())),
						'text'		=> 'Delete',
					)) ?>
                    <?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'money',
						'href'		=> $this->routeFromHere(array('action' => 'amounts', 'id' => $type['id'])),
						'text'		=> 'Amounts',
					)) ?>
				</td>
                <td align="right">$<?=number_format($type['budget'], 2) ?></td>
                <td align="right">
                <? foreach($type['amounts'] as $amount): ?>
                    <div>$<?=number_format($amount['amount'], 2) ?></div>
                <? endforeach; ?>
                </td>
				<td align="left"><?=$type['name'] ?></td>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>
</fieldset>
<? endforeach; ?>