<?php
$this->headTitle('Demographic Report');
?>

<? foreach($this->stats as $group_name => $stat_items): ?>
	<h2><?=$group_name ?></h2>

	<table class="datatable zebra" width="100%">
		<colgroup>
		<? if ($this->display == "counselors"): ?>
			<col width="40%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="10%">
		<? else: ?>
			<col width="80%">
			<col width="10%">
			<col width="10%">
		<? endif; ?>
		</colgroup>
		<thead>
			<tr>
				<th>Category</th>
			<? if ($this->display == "counselors"): ?>
				<th colspan="2">Unassigned</th>
				<th colspan="2">Assigned</th>
			<? endif; ?>
				<th colspan="2">Total</th>
			</tr>
		</thead>
		<tbody>
		<? foreach($stat_items as $stat_name => $stat): ?>
			<tr class="input">
				<td><big><?=$stat_name ?></big></td>
			<? if ($this->display == "counselors"): ?>
				<td><?=(int)$stat['unassigned'] ?></td>
				<td><?=(float)$stat['unassigned_pct'] ?>%</td>
				<td><?=(int)$stat['assigned'] ?></td>
				<td><?=(float)$stat['assigned_pct'] ?>%</td>
			<? endif; ?>
				<td><?=(int)$stat['total'] ?></td>
				<td><?=(float)$stat['total_pct'] ?>%</td>
			</tr>
		<? endforeach; ?>
		</tbody>
	</table>
<? endforeach; ?>