<?php
$this->headTitle('Registration Reports');
?>

<h2>Freshmen</h2>

<dl>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'masterlist')) ?>">Master List by Session</a></dt>
    <dd>View all assigned campers sorted by session, camp, and cabin.</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'special')) ?>">Special Accommodations Report</a></dt>
    <dd>View all applicants who have specified that they have allergies, medication, or other requirements.</dd>
    
    <dt><a href="<?=$this->route(array('module' => 'forms', 'controller' => 'altpayment', 'action' => 'manage', 'format' => 'csv')) ?>">Alternate Payment Request Report</a></dt>
    <dd>View all applicants who have requested to pay using alternate methods (mail-in, scholarship, etc).</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'shirtsizes')) ?>">Shirt Sizes by Session and Camp</a></dt>
    <dd>View the total shirts needed per size for each session and camp.</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'fishpackets')) ?>">Print Fish Packets with Barcodes</a></dt>
    <dd>Print the full list of fish packets for all sessions and camps.</dd>
    <dd>
        <ul class="unstyled">
        <? foreach($this->sessions as $session_name => $session_info): ?>
            <li><a href="<?=$this->routeFromHere(array('action' => 'fishpackets', 'session' => $session_name)) ?>">Session <?=$session_name ?> Only</a></li>
        <? endforeach; ?>
        </ul>
    </dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'releases')) ?>">Print Medical Releases</a></dt>
    <dd>Print all medical releases of campers.</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'businfo')) ?>">Bus Information</a></dt>
    <dd>View a full breakdown of bus assignments per session.</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'stats')) ?>">Session Statistics</a></dt>
    <dd>View statistics for all sessions, camps, and cabins.</dd>

    <dt><a href="<?=$this->routeFromHere(array('action' => 'demographics', 'view' => 'freshmen')) ?>">Demographic Report</a></dt>

    <dt>Check-In Report by Session</dt>
    <dd>Generate an Excel report of all checked-in and not-checked-in freshmen per session.</dd>
    <dd>
        <ul class="unstyled">
        <? foreach($this->sessions as $session_name => $session_info): ?>
            <li><a href="<?=$this->routeFromHere(array('action' => 'checkin', 'session' => $session_name)) ?>">Session <?=$session_name ?> Only</a></li>
        <? endforeach; ?>
        </ul>
    </dd>
</dl>

<h2>Counselors</h2>

<dl>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'special', 'type' => FC_TYPE_COUNSELOR2)) ?>">Special Accommodations Report</a></dt>

    <dt><a href="<?=$this->routeFromHere(array('action' => 'releases', 'type' => FC_TYPE_COUNSELOR2)) ?>">Print Medical Releases</a></dt>

    <dt><a href="<?=$this->routeFromHere(array('action' => 'shirtsizes', 'type' => FC_TYPE_COUNSELOR2)) ?>">Shirt Sizes by Session and Camp</a></dt>

    <dt><a href="<?=$this->routeFromHere(array('action' => 'demographics', 'view' => 'counselors')) ?>">Demographic Report</a></dt>
</dl>

<h2>Other Groups</h2>

<dl>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'releases', 'type' => FC_TYPE_CHAIR)) ?>">Chair Medical Releases</a></dt>

    <dt><a href="<?=$this->routeFromHere(array('action' => 'releases', 'type' => FC_TYPE_DIRECTOR)) ?>">Director Medical Releases</a></dt>
</dl>