<?
$this->headTitle('Session Statistics');
?>

<? if ($this->overassignments): ?>
	<div class="messages red">
    	<b>The following cabins are overassigned:</b><br />
        <ul>
        <? foreach($this->overassignments as $cabin_info): ?>
        	<li><?=$cabin_info ?></li>
        <? endforeach; ?>
        </ul>
    </div>
<? endif; ?>

<div class="tabbable">
    <ul class="nav nav-tabs">
    <? foreach($this->sessions as $session_name => $session_info): ?>
        <li><a href="#session_<?=$session_name ?>" data-toggle="tab"><?=$session_name ?></a></li>
    <? endforeach; ?>
    </ul>

    <div class="tab-content">
    <? foreach($this->sessions as $session_name => $session_info): ?>
        <div class="tab-pane" id="session_<?=$session_name ?>">
            <h3>Session <?=$session_name ?></h3>

            <table class="table table-condensed" width="100%">
                <colgroup>
                    <col width="35%" />
                    <col width="20%" />
                    <col width="45%" />
                </colgroup>
                <tbody>
                    <tr class="input">
                        <td align="left">Male</td>
                        <td align="center"><?=$session_info['current']['M'] ?> / <?=$session_info['total']['M'] ?></td>
                        <td align="left"><div class="progress"><div class="bar" style="width: <?=$session_info['percent']['M'] ?>%;"></div></div></td>
                    </tr>
                    <tr class="input">
                        <td align="left">Female</td>
                        <td align="center"><?=$session_info['current']['F'] ?> / <?=$session_info['total']['F'] ?></td>
                        <td align="left"><div class="progress"><div class="bar" style="width: <?=$session_info['percent']['F'] ?>%;"></div></div></td>
                    </tr>
                    <tr class="input">
                        <td align="left"><b>Total</b></td>
                        <td align="center"><b><?=$session_info['current']['all'] ?> / <?=$session_info['total']['all'] ?></b></td>
                        <td align="left"><div class="progress"><div class="bar" style="width: <?=$session_info['percent']['all'] ?>;"></div></div></td>
                    </tr>
                </tbody>
            </table>
                
        <? foreach($session_info['camps'] as $camp_name => $camp_info): ?>
            <br>
            <h3><?=$camp_name ?></h3>

            <div style="padding: 15px; background: <?=$camp_info['color'] ?>;">
                <table class="datatable zebra" width="100%">
                    <colgroup>
                        <col width="35%" />
                        <col width="20%" />
                        <col width="45%" />
                    </colgroup>
                    <tbody>
                        <tr class="input">
                            <td align="left">Male</td>
                            <td align="center"><?=$camp_info['current']['M'] ?> / <?=$camp_info['total']['M'] ?></td>
                            <td align="left"><div class="progress"><div class="bar" style="width: <?=$camp_info['percent']['M'] ?>%;"></div></div></td>
                        </tr>
                        <tr class="input">
                            <td align="left">Female</td>
                            <td align="center"><?=$camp_info['current']['F'] ?> / <?=$camp_info['total']['F'] ?></td>
                            <td align="left"><div class="progress"><div class="bar" style="width: <?=$camp_info['percent']['F'] ?>%;"></div></div></td>
                        </tr>
                        <tr class="input">
                            <td align="left"><b>Total</b></td>
                            <td align="center"><?=$camp_info['current']['all'] ?> / <?=$camp_info['total']['all'] ?></td>
                            <td align="left"><div class="progress"><div class="bar" style="width: <?=$camp_info['percent']['all'] ?>;"></div></div></td>
                        </tr>
                </table>
                <table class="datatable zebra" width="100%">
                    <colgroup>
                        <col width="35%" />
                        <col width="20%" />
                        <col width="45%" />
                    </colgroup>
                    <tbody>
                    <? foreach($camp_info['cabins'] as $cabin_name => $cabin_info): ?>
                        <tr class="input">
                            <td align="left"><?=$cabin_name ?> (<?=$cabin_info['gender'] ?>)</td>
                            <td align="center"><?=$cabin_info['current'] ?> / <?=$cabin_info['total'] ?></td>
                            <td align="left"><div class="progress"><div class="bar" style="width: <?=$cabin_info['percent'] ?>%;"></div></div></td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        <? endforeach; ?>

            <br>
            <h3>Buses</h3>
                
            <table class="table table-condensed" width="100%">
                <colgroup>
                    <col width="35%" />
                    <col width="20%" />
                    <col width="45%" />
                </colgroup>
                <tbody>
                <? foreach($session_info['buses'] as $bus_name => $bus_info): ?>
                    <tr class="input">
                        <td align="left"><?=$bus_name ?></td>
                        <td align="center"><?=$bus_info['current'] ?> / <?=$bus_info['total'] ?></td>
                        <td align="left"><div class="progress"><div class="bar" style="width: <?=$bus_info['percent'] ?>%;"></div></div></td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        </div>
    <? endforeach; ?>
    </div>
</div>