<?
use \Entity\RefundRequest;

$this->headTitle('Review Refund/Cancellation Request');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Form Details</h2>

			<dl>
				<dt>Submitted By:</dt>
				<dd><a href="<?=$this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'index', 'id' => $this->record->user->id)) ?>" target="_blank" title="Click to View User Profile"><?=$this->record['user']['firstname'] ?> <?=$this->record['user']['lastname'] ?></a> (<?=$this->record['user']['uin'] ?>)</dd>
			</dl>

			<?=$this->form->renderView() ?>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
		<? if (!$this->can_modify): ?>
			<h2>Review Details</h2>

			<dl>
				<dt>Director Decision:</dt>
				<dd><?=$this->record->decision ?></dd>
			</dl>
		<? else: ?>
			<h2>Process Request</h2>
			
			<? if ($this->record->status == RefundRequest::STATUS_PENDING_DIRECTOR): ?>
				<p>This request requires review by the Fish Camp director staff before it can continue.</p>
				<p>Enter the final decision of the directors using the form below.</p>

				<form action="<?=$this->routeFromHere(array('action' => 'process')) ?>" class="df-form form-stacked" method="post">
				<div class="clearfix">
					<label for="decision">Directors' Decision:</label>
					<?=$this->formRadio('decision', NULL, NULL, \DF\Utilities::pairs(array(
						'Approve (Full)',
						'Approve (Partial)',
						'Decline',
					))) ?>
				</div>

				<div class="clearfix">
					<label for="decision_amount">If Partial, amount:</label>
					$<input type="text" name="decision_amount" class="half-width">
				</div>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'submit',
						'icon'		=> 'resultset_next',
						'text'		=> 'Process Request',
					)) ?>
				</div>
				</form>
			<? elseif ($this->record->status == RefundRequest::STATUS_PENDING_ADVISOR): ?>
				<p>The Fish Camp directors have reviewed this request and made a decision. Please review their decision below and choose how the request should proceed.</p>

				<dl>
					<dt>Decision:</dt>
					<dd><?=$this->record->decision ?></dd>

					<dt>Partial Amount (if applicable):</dt>
					<dd><?=$this->record->decision_amount ?></dd>
				</dl>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'tick', 
						'class'		=> 'success',
						'text'		=> 'Approve',
						'href'		=> $this->routeFromHere(array('action' => 'process', 'advisor_decision' => 'approve')),
					)) ?>
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'cross', 
						'class'		=> 'danger confirm-action',
						'text'		=> 'Decline',
						'href'		=> $this->routeFromHere(array('action' => 'process', 'advisor_decision' => 'decline')),
					)) ?>
				</div>
			<? elseif ($this->record->status == RefundRequest::STATUS_PENDING_ACCOUNTING): ?>
				<p>This request has been approved by both the Fish Camp directors and advisor, and is ready to be processed in the system.</p>

				<dl>
					<dt>Request Decision:</dt>
					<dd><?=$this->record->decision ?></dd>
				</dl>

				<p>To visit this user's ledger, click the button below.</p>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'money',
						'text'		=> 'Ledger',
						'target'	=> '_blank',
						'href'		=> $this->route(array('module' => 'registration', 'controller' => 'view', 'action' => 'ledger', 'id' => $this->record->user->id)),
					)) ?>
				</div>

				<p>When the refund request has been processed, you can archive the form by clicking the button below.</p>

				<div class="buttons">
					<?=$this->button(array(
						'type'		=> 'link',
						'icon'		=> 'delete',
						'class'		=> 'danger confirm-delete',
						'text'		=> 'Archive',
						'href'		=> $this->routeFromHere(array('action' => 'archive')),
					)) ?>
				</div>
			<? else: ?>
				<p>This request has been archived. No further action is required.</p>
			<? endif; ?>
		<? endif; ?>
		</div>
	</div>
</div>