<?
use \Entity\Settings;
use \DF\Url;

$this->headTitle('Online Registration');

$user = \DF\Auth::getInstance()->getLoggedInUser();

$freshman_status = \FCO\Registration::getStatus(FC_TYPE_FRESHMAN);
$freshman_status_text = $this->config->fishcamp->status_codes->{$freshman_status};

$freshman_dates_text = \FCO\Registration::getDateRangeText(FC_TYPE_FRESHMAN);
?>
<fieldset>
    <legend>Basic Information</legend>
    <?=$this->icon(array('image' => 'information', 'type' => 'png32', 'style' => 'float: right')) ?>
    
    <dl>
        <dt>Freshman registration dates:</dt>
        <dd><?=$freshman_dates_text ?></dd>
        
        <dt>Current status:</dt>
        <dd><?=$freshman_status_text ?></dd>
    </dl>

    <p>For additional information, please check out the <a href="<?=Url::content('documents/Brochure.pdf') ?>" target="_blank">Fish Camp informational brochure</a> (PDF), call the Fish Camp office at (979) 845-1627 or e-mail us at <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?>.</p>

    <!-- 
    <p>For additional information, please check out the <a href="http://fishcamp.tamu.edu/">Fish Camp Website</a>, call the Fish Camp office at (979) 845-1627 or e-mail us at <?=$this->mailto('fcamp-ir@dsa.tamu.edu') ?>.</p>
-->
</fieldset>

<fieldset>
	<legend>Helpful Resources</legend>

    <ul>
        <li><a href="<?=Url::content('documents/FrequentlyAskedQuestions.pdf') ?>" target="_blank">Frequently Asked Questions</a> (PDF)</li>
        <li><a href="<?=Url::content('documents/MedicalReleaseForm.pdf') ?>" target="_blank">Medical Release Form</a> (PDF)</li>
        <li><a href="<?=$this->route(array('module' => 'forms', 'controller' => 'refunds')) ?>" target="_blank">Cancellation/Refund Request Form</a></li>
        <li><a href="<?=$this->route(array('module' => 'registration', 'controller' => 'index', 'action' => 'sessionchange')) ?>" target="_blank">Session Change Form</a></li>
        <li><a href="<?=Url::content('documents/GatewayStudentAcknowledgement.pdf') ?>" target="_blank">Gateway Student Acknowledgement</a> (PDF)</li>
    </ul>
</fieldset>

<fieldset>
	<legend>Session Dates and Current Status</legend>
    
    <table class="datatable zebra">
        <tbody>
        <? foreach($this->sessions as $session): ?>
            <tr class="input">
                <td><big>Session <?=$session['name'] ?></big></td>
                <td><?=$session['date'] ?></td>
                <td><?=$session['status_text'] ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
</fieldset>

<fieldset>
    <legend>Special Session Considerations</legend>
    
    <p>If you are going to be involved in the following programs, these are the sessions that conflict with the schedule of your event:</p>
	
	<?
	// List of special programs.
	$special_programs_header = array('Program Name');
	foreach($this->sessions as $session)
		$special_programs_header[] = $session['name'];

	$special_programs_raw = $this->config->fishcamp->special_programs->toArray();
	foreach($special_programs_raw as $program_name => $program_sessions)
	{
		$special_programs_row = array($program_name);
		
		foreach($this->sessions as $session)
		{
			if (stristr($program_sessions, $session['name']) !== FALSE)
				$special_programs_row[] = $this->icon('cross');
			else
				$special_programs_row[] = $this->icon('tick');
		}
		
		$special_programs_body[] = $special_programs_row;
	}

	$special_programs = '<p>If you will be attending or involved in any of the following activities, check the table below for conflicts with Fish Camp sessions.</p>';
	echo $this->table()
		->setOptions(array(
			'style' => 'width: 100%',
            'class' => 'datatable zebra',
		))
		->setHeader(array($special_programs_header))
		->setBody($special_programs_body);
	?>
</fieldset>

<fieldset>
    <legend>Changes to Session Dates</legend>

    <p>Please double check your calendar before registering for Fish Camp. Fish Camp makes every effort to provide all freshmen the opportunity to attend camp, but it is extremely difficult to change sessions once you have already been placed in one. If your schedule changes and you are unable to attend your available and/or assigned session, you may withdraw your particular request and be placed on a waiting list for an alternate session.</p>

    <p>Please note the following implications to changing a session:</p>
    <ul>
        <li>Session change forms must be submitted by <?=date('F j, Y', Settings::getSetting('session_change_deadline', 0)) ?> at 5:00pm.</li>
        <li>No refunds will be processed after <?=date('F j, Y', Settings::getSetting('refund_close_date', 0)) ?>.</li>
        <li>Your session guarantee will be relinquished.</li>
        <li>You run the risk of not being assigned to another session due to other sessions being filled to maximum capacity.</li>
    </ul>
</fieldset>

<fieldset>
	<legend>Payments &amp; Fees</legend>
        
	<p><b>The fee for Fish Camp is $<? echo number_format(Settings::getSetting('registration_'.FC_TYPE_FRESHMAN.'_due', 0), 2); ?>.</b> This fee covers registration, travel, food and lodging.</p>
    <p>Online registration is payable by credit card. American Express, Discover, Mastercard, and Visa are accepted for online payment.</p>
    <p><b>In order to pay online with credit card, you must live within the United States.</b> The TAMU credit card processor unfortunately does not accept non-US addresses at this time.</p>
    <p>Alternate payment options listed below are available and can be selected from within the online application:</p>
    <ul>
        <li>Fee payment via installment plan</li>
        <li>Scholarship applications</li>
    </ul>
</fieldset>

<fieldset>
	<legend>Registration Requirements</legend>
        
    <p>In order to register for Fish Camp, you must:</p>
    <ul>
        <li>Have an activated TAMU student NetID. If you have not already activated your NetID, <a href="https://services.tamu.edu/netid-activate/" target="_blank">click here</a> to do so now. Any student that is admitted to Texas A&amp;M University can sign up for one, and it is a relatively simple process. Fish Camp recommends that you obtain this well in advance of the registration date.</li>
        <li>Have medical insurance/emergency contact information. The medical release form is located online, and is completed as part of the registration process.</li>
        <li>
        	Use a modern browser that supports JavaScript.
            <span id="javascript_disabled" style="color: #FF0000;">
            	Javascript is currently disabled on your computer!
            </span>
            <span id="javascript_enabled" style="color: #00FF00; display: none;">
            	Javascript is enabled on your computer.
            </span>
        </li>
    </ul>
</fieldset>

<fieldset>
	<legend>The Registration Process</legend>
    
    <p>The registration process works as follows:</p>
    <ol type="1">
    	<li>Sign in with NetID to identify yourself; please note TAMU Guest NetIDs cannot be used for registration</li>
        <li>Submit basic registration information</li>
        <li>Select session availability</li>
        <li>Confirm information</li>
        <li>Submit payment, or choose alternate payment method</li>
    </ol>
</fieldset>

<fieldset>
	<legend>Registration Confirmation</legend>
    
	<p>Confirmation will be e-mailed to your specified preferred e-mail address on <?=date('F j, Y', Settings::getSetting('session_notification_date', 0)) ?>.  This e-mail will include:</p>
    <ul>
        <li>Your assigned session</li>
        <li>Information about parking on-campus for assigned session of Fish Camp</li>
        <li>A suggested list of items to pack</li>
        <li>General information about attending camp</li>
        <li>Details about the cancellation and refund processes</li>
    </ul>
    
    <p>If the session(s) you requested is full and you were placed on a wait-list, you will have the opportunity to ask for a refund. If you do not receive a confirmation e-mail within four days of <?=date('F j, Y',  Settings::getSetting('session_notification_date', 0)) ?>, please contact the Fish Camp office via e-mail or phone.</p>
    <p>Fish Camp will not be able to confirm session assignments before <?=date('F j, Y', Settings::getSetting('session_notification_date', 0)) ?>.</p>
</fieldset>

<? if ($freshman_status == FC_STATUS_OPEN): ?>
    <div class="buttons well">
        <?=$this->button(array(
            'type'		=> 'link',
            'class'     => 'large primary',
            'icon'		=> 'resultset_next',
            'text'		=> 'Start Registration',
            'href'		=> $this->route(array('module' => 'registration')),
        )) ?>
    </div>
<? endif; ?>

<script type="text/javascript">
$(function() {
	$('#javascript_disabled').hide();
	$('#javascript_enabled').show();
});
</script>