<h2><?=$this->record->firstname ?> <?=$this->record->lastname ?></h2>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'icon-search',
		'class'		=> 'primary',
		'text'		=> 'Toggle Read Status',
		'href'		=> $this->routeFromHere(array('action' => 'toggleread', 'id' => $this->record->id)),
	)) ?>
</div>

<?=$this->form->renderView() ?>