<?
$this->headTitle($this->user->firstname.' '.$this->user->lastname.' ('.$this->user->uin.')');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span8">
		<div class="floating">
			<h2>Profile</h2>
			
			<div class="buttons btn-group">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'pencil',
					'class'		=> 'primary',
					'text'		=> 'Edit Profile',
					'href'		=> $this->routeFromHere(array('action' => 'edit')),
				)) ?>
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'vcard_edit',
					'text'		=> 'Change Registrant Type',
					'class'		=> 'confirm-action',
					'href'		=> $this->routeFromHere(array('action' => 'settype')),
				)) ?>
			<? if (\DF\Acl::isAllowed('view accounting')): ?>
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'money',
					'text'		=> 'View Ledger',
					'href'		=> $this->routeFromHere(array('action' => 'ledger')),
				)) ?>
			<? endif; ?>
			</div>

			<?=$this->form->renderView() ?>

			<h3>Audit Log</h3>
			<table class="table table-striped" width="100%">
				<colgroup>
					<col width="25%">
					<col width="30%">
					<col width="45%">
				</colgroup>
				<tbody>
				<? foreach((array)$this->user->fc_audit_log as $log_entry): ?>
					<tr>
						<td><?=$log_entry['user'] ?></td>
						<td><?=date('m/d/Y g:ia', $log_entry['timestamp']) ?></td>
						<td><?=$log_entry['changes'] ?></td>
					</tr>
				<? endforeach; ?>
				</tbody>
			</table>
		</div>
	</div>
	<div class="span4">
		<div class="floating">
			<h2>Submitted Forms</h2>

			<h3>Alternate Payment Requests</h3>
		<? if (count($this->user->alt_payment_requests) > 0): ?>
			<dl>
			<? foreach($this->user->alt_payment_requests as $request): ?>
				<dt><a href="<?=$this->route(array('module' => 'forms', 'controller' => 'altpayment', 'action' => 'review', 'code' => $request->access_code)) ?>">#<?=$request->access_code ?></a></dt>
				<dd>Submitted <?=$request->created_at->format('m/d/Y g:ia') ?></dd>
			<? endforeach; ?>
			</dl>
		<? else: ?>
			<p>This user has not submitted any requests.</p>
		<? endif; ?>

			<h3>Refund/Cancellation Requests</h3>
		<? if (count($this->user->refund_requests) > 0): ?>
			<dl>
			<? foreach($this->user->refund_requests as $request): ?>
				<dt><a href="<?=$this->route(array('module' => 'forms', 'controller' => 'refunds', 'action' => 'review', 'code' => $request->access_code)) ?>">#<?=$request->access_code ?></a></dt>
				<dd>Submitted <?=$request->created_at->format('m/d/Y g:ia') ?></dd>
			<? endforeach; ?>
			</dl>
		<? else: ?>
			<p>This user has not submitted any requests.</p>
		<? endif; ?>
		
			<h3>Grade/Attendance Appeals</h3>
		<? if (count($this->user->appeals) > 0): ?>
			<dl>
			<? foreach($this->user->appeals as $appeal): ?>
				<dt><a href="<?=$this->route(array('module' => 'forms', 'controller' => 'appeals', 'action' => 'view', 'id' => $appeal->password)) ?>">Appeal #<?=$appeal->password ?></a></dt>
				<dd>Submitted <?=$appeal->created_at->format('m/d/Y g:ia') ?></dd>
			<? endforeach; ?>
			</dl>
		<? else: ?>
			<p>This user has not submitted any appeals.</p>
		<? endif; ?>

		<? if ($this->user->specialaccommodation_notes): ?>
			<h3>Special Accommodation Notes</h3>
			<blockquote>
				<?=nl2br($this->user->specialaccommodation_notes) ?>
			</blockquote>
		<? endif; ?>
		</div>
	</div>
</div>