<?php
$this->headTitle('Temporary Access Codes');
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'add',
		'text'		=> 'New Access Code',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
	)) ?>
</div>

<table class="table table-striped">
	<colgroup>
		<col width="25%">
		<col width="20%">
		<col width="25%">
		<col width="15%">
		<col width="15%">
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Type</th>
			<th>Access Code</th>
			<th>Begins</th>
			<th>Expires</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->codes as $code): ?>
		<tr>
			<td>
				<div class="btn-group">
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'pencil',
						'text'		=> 'Edit',
						'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $code->id)),
					)) ?>
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'delete',
						'class'		=> 'danger confirm-delete',
						'text'		=> 'Delete',
						'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $code->id)),
					)) ?>
				</div>
			</td>
			<td><?=$code->type_name ?></td>
			<td><input type="text" class="highlight_on_focus full-width" value="<?=$code->code_url ?>"></td>
			<td><?=date('m/d/Y g:ia', $code->active_start) ?></td>
			<td><?=date('m/d/Y g:ia', $code->active_end) ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<script type="text/javascript">
$(function() {
    
    $('input.highlight_on_focus').click(function() {
        this.focus();
        this.select();
    });
});
</script>