<?
$this->headTitle('Check In Students');
$this->layout()->manual = TRUE;
?>

<div class="row">
    <div class="span4">
        <div class="floating">
            <h2>Enter/Scan Student</h2>
            
            <dl>
                <dt>Student UIN/Packet ID:</dt>
                <dd><input type="text" name="q" autocomplete="off" class="full-width"></dd>
            </dl>
            
            <div class="buttons">
                <?=$this->button(array(
                    'type'      => 'link',
                    'href'      => '#',
                    'id'        => 'btn-checkin',
                    'text'      => 'Check In',
                    'icon'      => 'accept',
                )) ?>
            </div>

            <div id="loading_div" style="text-align: center; display: none;">
                <img src="<?=\DF\Url::content('preloader.gif') ?>"><br><br>
                Checking in...
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="floating">
            <h2>Check In Results</h2>
            
            <dl id="checkin_results" style="height: 400px; overflow-x: hidden; overflow-y: scroll;"></dl>
        </div>
    </div>
</div>

<script>
$(function() {
    $('input[name="q"]').val('').focus();
    
    $('#btn-checkin').click(function(e) {
        checkInUser();
        e.preventDefault();
        return false;
    });
    
    $('input[name="q"]').keypress(function(e) {
		if (e.keyCode == 13)
		{
			checkInUser();
            e.preventDefault();
			return false;
		}
	});
});

function checkInUser()
{
    var q = $('input[name="q"]').val();
    
    if (q.length > 0)
    {
        $('#loading_div').show();
        $('input[name="q"]').attr('disabled', 'disabled');
        
        $.get('<?=\DF\Url::current() ?>', { q: q }, function(data, textStatus) {
            $('#loading_div').hide();
            $('#checkin_results').prepend(data);
            $('input[name="q"]').removeAttr('disabled').val('').focus();
        });
    }
}
</script>