<? if ($this->result['success']): ?>
    <dd class="valid">
        <b><?=$this->result['user']['firstname'] ?> <?=$this->result['user']['lastname'] ?></b> (<?=$this->result['user']['uin'] ?>) was successfully checked in.<br />
        <div style="padding: 5px 0 0 5px;">
            <div>Session: <b><?=$this->result['user']['fc_assigned_session'] ?></b></div>
            <div>Camp: <b><?=$this->result['user']['fc_assigned_camp'] ?></b></div>
            <div>Cabin: <b><?=$this->result['user']['fc_assigned_cabin'] ?></b></div>
            <div>Bus: <b><?=$this->result['user']['fc_assigned_bus'] ?></b></div>
        </div>
    </dd>
<? else: ?>
    <dd class="error">An error occurred while attempting to check in this student. Please try again.</dd>
<? endif; ?>
    <dd class="divider">&nbsp;</dd>