<h2>Session Change Request Submitted</h2>

<p>A freshman has requested to change their session availability. Details are listed below.</p>

<p>To manage session change forms submitted after registration closes, visit this page:<br>
    <?=$this->link($this->route(array('module' => 'forms', 'controller' => 'sessionchanges'))) ?></p>

<dl>
    <dt>Student Name:</dt>
    <dd><?=$this->user['firstname'] ?> <?=$this->user['lastname'] ?></dd>
    
    <dt>Student UIN:</dt>
    <dd><?=$this->user['uin'] ?></dd>
    
    <dt>Previous Preference:</dt>
    <dd><?=$this->old_sessions ?></dd>
    
    <dt>New Preference:</dt>
    <dd><?=$this->new_sessions ?></dd>
    
    <dt>Reason for Change:</dt>
    <dd><?=nl2br($this->reason) ?></dd>
</dl>