<?
$this->headTitle('Fish Camp Road Trip Form');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span6">
		<div class="floating">
			<h2>Start a New Form</h2>
			
			<p>To create a new road trip form, click the button below.</p>
			
			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'link',
					'icon'		=> 'asterisk_yellow',
					'text'		=> 'Start New Form',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => NULL)),
				)) ?>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="floating">
			<form action="<?=\DF\Url::current() ?>" method="post">
			<h2>Update an Existing Form</h2>
			
			<p>To update an existing road trip form, enter the form's ID code below.</p>
			
			<dl>
				<dt>Form ID:</dt>
				<dd><input type="text" name="id" class="half-width" /></dd>
			</dl>
			
			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'submit',
					'icon'		=> 'asterisk_orange',
					'text'		=> 'Update Existing Form',
				)) ?>
			</div>
			</form>
		</div>
	</div>
</div>