<?php
$this->headTitle('Road Trip Form: '.$this->record['app_id_hash']);
?>

<h2>Messages</h2>

<? if ($this->record['messages']): ?>
    <dl>
    <? foreach($this->record['messages'] as $message): ?>
        <dt>
            <small><?=date('m/d/Y g:ia', $message['message_timestamp']) ?></small><br>
            <? if ($message['message_type'] == \Entity\RoadtripFormMessage::MESSAGE_FROM_ADMIN): ?>
                Administrator Message:
            <? else: ?>
                Submitter Message:
            <? endif; ?>
        </dt>
        <dd><?=nl2br($message['message_body']) ?></dd>
    <? endforeach; ?>
    </dl>
<? else: ?>
    <p>This form has no messages.</p>
<? endif; ?>

<h2>Post New Message</h2>

<form action="<?=$this->routeFromHere(array('action' => 'postmessage')) ?>" method="post">
<dl>
    <dt>Message Text:</dt>
    <dd><textarea name="message" class="full-width half-height"></textarea></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'email_go',
        'text'      => 'Send Message',
    )) ?>
</div>