<?php
use \Entity\Counselect;

$this->headTitle('Counselect Preferences: Session '.$this->session->name.' '.$this->camp->name);
$this->layout()->manual = TRUE;
$i = 0;
?>

<? foreach($this->categories as $cat_id => $cat_name): ?>
    <? $i++; ?>
    <div class="span6 panel" id="panel_<?=$i ?>">
        <div class="floating">
            <h2><?=$cat_name ?></h2>

        <? if ($this->is_open): ?>
            <div class="buttons well">
                <?=$this->button(array(
                    'type'      => 'link',
                    'icon'      => 'table_go',
                    'class'     => 'success fancybox fancybox.ajax',
                    'text'      => 'Enter Preferences',
                    'href'      => $this->routeFromHere(array('action' => 'enter', 'category' => $cat_id)),
                )) ?>
            </div>
        <? endif; ?>
    
        <? if ($this->entries_by_category[$cat_id]): ?>
            <table class="datatable zebra" width="100%">
                <colgroup>
                    <col width="5%">
                    <col width="65%">
                    <col width="30%">
                </colgroup>
                <tbody>
                <? foreach($this->entries_by_category[$cat_id] as $entry): ?>
                    <tr class="input <? if ($entry['status'] == Counselect::STATUS_ASSIGNED): ?>green<? elseif ($entry['status'] == Counselect::STATUS_UNASSIGNED): ?>red<? endif; ?>">
                        <td align="center"><big><strong><?=$entry['preference'] ?></strong></big></td>
                        <td align="left"><?=$entry['user']['firstname'] ?> <?=$entry['user']['lastname'] ?></td>
                        <td align="left"><?=$entry['user']['uin'] ?></td>
                    </tr>
                <? endforeach; ?>
                </tbody>
            </table>
        <? else: ?>
            <p>You have not entered preferences for this category yet. Click the button above to do so.</p>
        <? endif; ?>
        </div>
    </div>
<? endforeach; ?>

<script type="text/javascript">
$(function() {
    var num_panels = $('div.panel').length;

    for(i = 1; i <= num_panels; i += 2)
    {
        $('div#panel_'+i+', div#panel_'+(i+1)).wrapAll('<div class="row" />');
    }
});
</script>